site_name: Sensor Drivers Documentation
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.instant
    - content.code.copy
  palette:
    - scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

nav:
  - Sensor Drivers: index.md
  - Livox: livox.md
  - Ouster Lidar: ouster-lidar.md
  - SICK Sensor: sick-sensor.md
  - IMU: imu.md
  - RealSense: realsense.md
  - u-blox F9P: u-blox.md

plugins:
  - search
  - glightbox