site_name: Sensor Drivers Documentation
theme:
  name: material
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

nav:
  - Sensor Drivers: index.md
  - Livox: livox.md
  - Ouster Lidar: ouster-lidar.md
  - SICK Sensor: sick-sensor.md
  - IMU: imu.md
  - RealSense: realsense.md
  - u-blox F9P: u-blox.md
