<launch>

  <!-- <include file="$(find ublox_gps)/launch/ardusimple.launch"/> -->
  <include file="$(find map_server)/launch/map_server.launch"/>

  <rosparam command="load" file="$(find ublox_gps)/config/ekf_ardusimple.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
  <remap from="odometry/filtered" to="odometry/filtered"/>
  <remap from="/diagnostics" to="/diagnostics/gps" />  
  </node>

  <node pkg="ublox_gps" type="imu_rion_rpy.py" name="imu_publisher_node"/>
  <node pkg="ublox_gps" type="map2odom_publisher.py" name="map2odom_publisher_node"/>
  <node pkg="ublox_gps" type="heading_offset_tuner.py" name="base2gps_publisher_node"/>
  <!-- <node pkg="ublox_gps" type="localization_validator.py" name="localization_validator_node"/> -->
  <!-- <node pkg="ublox_gps" type="rtk_diagnostics.py" name="rtk_diagnostics_node"/> -->

  <!--chennai_demo 1-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_gps_tf" args="0.2 0 0.25 -0.72 0 0 /base_link /gps 10"/>  solis -->
  <!--chennai_demo 1-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_gps_tf" args="0.2 0 0.25 2.15 0 0 /base_link /gps 10"/>  solis -->
  <!--bangalore_farm-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_gps_tf" args="0.2 0 0.25 -1.7 0 0 /base_link /gps 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_gps_tf" args="0.2 0 0.25 -1.87 0 0 /base_link /gps 10"/>  solis -->
  <node pkg="tf" type="static_transform_publisher" name="base_imu_tf" args="0.0 0 0.0 -1.5 0 0 /base_link /imu_link 10"/>  <!--old =-1.33-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 /map /odom 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0.04988 0 0 /map /odom 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 1.57 0 0 /map /odom 10"/> -->
  <!--<node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0.04988 0 0 /map /odom 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 34.511083 0 0 /map /odom 10"/> -->

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find ublox_gps)/config/navsat_config.yaml" />
    <!-- <remap from="imu/data" to="/ML/Imu/Data" /> -->
    <remap from="imu/data" to="gps/navheading" />
    <remap from="gps/fix" to="gps/fix" />
    <param name="wait_for_datum" value="true" />
    <param name="broadcast_cartesian_transform" value="true"/>
    <param name="broadcast_cartesian_transform_as_parent_frame" value="true"/>
    <!-- <rosparam param="datum">[13.118869, 77.529118, 0]</rosparam> mahabalipura -->
    <!-- <rosparam param="datum">[13.0600939, 77.5508286, 810.23]</rosparam> --> 

    <!--mahabalipura-->
    <!-- bnglr_farm_lat_lon -->
    <!-- <rosparam param="datum">[13.120515280, 77.527473963, 808.6297]</rosparam>  -->
    <!-- chennai_deployment -->
    <rosparam param="datum">[12.37474617, 79.72752133, -39.400]</rosparam> 
    
    <!-- MM_DEMO_2_lat_lon -->
    <!-- <rosparam param="datum">[12.721223347, 80.013132309, -32.1526]</rosparam>  -->
<!-- MM_DEMO_1_lat_lon -->
    <!-- <rosparam param="datum">[12.720818720, 80.013036074, -48.1406]</rosparam>  -->

    <!-- office_lat_lon -->
    <!-- <rosparam param="datum">[13.059465822, 77.552533290, 827.5522]</rosparam> -->

    <!-- <rosparam param="datum">[13.120515280, 77.527473963, 810.23]</rosparam>  -->
    <!--mahabalipura-->
    
  </node>
  <node pkg="ublox_gps" type="odom_to_pose.py" name="odom_to_pose" />

</launch>
